body{
	font-family: helvetica, arial;
	font-size: 100%;
	height: 100%;
	background-color: gray;
	font-size: small;	
}

#mainWrapper{
	background-color: white;
}

center img{
	max-height: 100px;
}

#header{
	width: 99%;
	background-color: white;
	border-radius: 5px;
	border: 1px gray solid;
	margin: 0 auto;

}

#findRoom{
	height: 40%;
	float: left;
	width: 48%;
	border: 1px solid #9D9D9D;
}

#topRightWrapper{
	float: right;
	width:48.8%;
	border-radius: 5px;
}

#shortcuts{
	height: auto;
	float: right;
	height: 76%;
	width: 98%;
}

#findCourse{
	height: 20%;
	width: 98%;
	float: right;
}
#schedule{
	width: 48%;
	float: left;
	clear: both;
}

#rss-large-screen{
	float: right;
	width: 48%;
}

table{
	font-size: small;
}
#rss-small-screen{
	float: left;
	width: 100%;
	font-size: 1em;
	margin-right: -1px;
	display: none;
}
#news{
	width: 48%;
	float: left;
}

#information{
	float: right;
	width: 48%;
}
#kontakt{
	float: left;
	width: 98.8%;
}

.box-container{
	border-radius: 5px;
	margin: 5px;
	background-color: #E0E0E0;
	border: 1px solid #9D9D9D;
	overflow: hidden;
	
}

img{
	max-width: 100%;
	
}
span{
	white-space: nowrap;

}


button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
}
button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;}
}
button:active {
	position:relative;
	top:1px;
}
#news img{
	width: 100%;
}
#news td:first-of-type{
	width: 20%;
}

.rss-large-screen td:first-of-type{
	min-width: 35px;
}

.search-button{
	font-size: 1em;
}

#shortcuts button{
	width: 48%;
	height:45%;
	margin-bottom: 10px;
	margin-right: 5px;
}

#information button{
	width: 30%;
	height:30%;
	font-size: 1em;
	float: left;
	margin-bottom: 10px;
	margin-right: 5px;

}

.shortcutsButtons{
	padding-top: 10px;
	margin: 0 auto;
	width: 80%;
	height: 60%;
	text-align: center;
	padding-bottom: 20%;
}
.informationButtons{
	width: 90%;
	padding-left: 5%;
	padding-top: 20px;
	text-align: center;
}
i{
	padding-top: 10px;
	margin-left: 10px;
	font-size: 1.5em;
}



.section-seperator{
	border-bottom: 1px gray solid;
}


/*
Media Queries her og nedover!
*/
@media screen and (min-width: 1200px){ 
	
#mainWrapper{
	width: 80%;
	margin: 0 auto;
}
}

@media screen and (min-width: 768px) and (max-width: 928){

	#shortcuts button{
	width: 40%;                
}

.shortcutsButtons{
	padding-top: 20px;
}
}

@media screen and (min-width: 768px) and (max-width: 1050px) { 
	body {
		font-size: 80%;
	}

	#schedule{
		width: 98.8%;
		overflow: hidden;
	}
	#topRightWrapper{
		height: 24%;
	}
	#rss-large-screen{
		width: 98.8%;
	}


	#information button{
	}
	#kontakt p{
		font-size: 1.5em;
	}

}

/*
Liten TABLET
*/
@media screen and (min-width: 481px) and (max-width: 767px) { 
	#schedule{
		display: none;
	}
	#kontakt p{
		font-size: 1em;
	}

	#findRoom{
		width: 100%;
		height: auto;
	}
	#findCourse{
		height: 60px;
	}
	#shortcuts{
		height: auto;
	}

	#shortcuts button{
		height: 60px;
	}
	.shortcutsButtons{
		height: auto;
	}
	
	#topRightWrapper{
		float: left;
		width: 48.5%;
		height: auto;
	}
	#news{
		width: 48.5%;
	}

	#rss-large-screen{
		display: none;
	}
	#rss-small-screen{
		display: inline;
	}
}
/*
TELEFON
*/
@media screen and (max-width: 480px){
	body {
		font-size: 40%;
		margin-left: 0px;
		margin-right: 0px;


	}
	.box-container{
		width: 100%!important;
		margin:0;
		padding: 0;
	}
	#schedule{
		display: none;
	}
	#findRoom img{
		display: none;
	}
	#findRoom{
		height: auto;
		float: none;
	}
	#findCourse{
		height: auto;
	}
	#shortcuts{
		height: auto;
	}
	.shortcutsButtons{
	}
	#findRoom span{
		float: right;
	}
	#findCourse span{
		float: right;
	}
	#rss-small-screen{

	}
	#news{
		display: none;
	}
	#topRightWrapper{
		width: 100%;

	}
	#information button{
		font-size: 2em;
	}
	#shortcuts button{
		font-size: 2.5em;
		height: 40%8;
	}
	i{
	}
	#kontakt p{
		font-size: 2em;
	}
	.section-title{
		font-size: 4em;
	}

	#rss-large-screen{
		display: none;
	}
	#rss-small-screen{
		display: inline;
	}
}

/*
Små telefoner
*/
@media screen and(max-width: 240px){

}